body {
  margin: 0;
}

.infobar {
  background-color: #6a7e5a;
}

.infobar p {
  padding: 0px 5px;
}

.Task {
  border-radius: 5px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 15px;
  margin: 20px;
  box-shadow: 3px 3px 5px rgb(33, 33, 33);
  background-color: #9cb48c;
}

.Task ul {
  display: flex;
  flex-flow: row wrap;
  width: 92,5%;
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}

.Task li {
  min-width:45%;
  padding: 7.5px 5px;
}

.Task button {
  font-size: 0.75em;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #ffffff00;
  color: white;
  padding: 15px;
  width: 150px;
  height: 100%;
  box-shadow: 3px 3px 5px rgb(33, 33, 33);
  overflow-wrap: break-word;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #4f6147;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TestFrame {
  background-color: rgb(32, 39, 27);
}

.TestFrame p {
  margin-top: 0px;
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

.TestFrame button {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin: 10px;
}

img {
  border: 1px solid white;
  margin-top: 10px;
  width: calc(10px + 72.5vmin);
  max-width: 370px;
  box-shadow: 3px 3px 5px rgb(33, 33, 33);
}

.emoji {
  font-size: 5em;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
